@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Baskerville:wght@700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body {
 color:#1B1308;
 margin:0;
}
html {
  margin:80px 250px;
 
}
.resume {
 background-color: #FCCE4C;
 padding: 120px 120px;
 padding-bottom: 450px;
 font-family: 'Open Sans', sans-serif;
}

.resume_skill{
  margin-bottom: 5px;
  margin-left: 10px;
}

.resume_part {
  margin-bottom: 25px;
}


.resume_experience_site li a{
  color:black;
  text-decoration-color : black;
}
.resume_experience_site li {
  margin-bottom: 10px;
}